@namespace Blazor.Midi.GoKeys.Pages

<div class="box box-1">
	<GKButton Caption="new"
			  OnClick="OnClickNew" />
	<GKButton Caption="play"
			  OnClick="OnClickPlay" />
	<GKButton Caption="record"
			  ShowIndicator="true"
			  IndicatorColor="IndicatorColor.Red"
			  OnClick="OnClickPlay" />
</div>

<div class="box box-8">
	<ul class="channel-list">
		@if (Pattern.Any())
		{
			@foreach (var note in Pattern)
			{
				<li>@note</li>
			}
		}
	</ul>
</div>