.gk-textbox {
    /*width: 100%;*/
    padding: 8px 12px;
    border: 5px solid #181818;
    /*border-radius: 25px;*/
    font-size: 14px;
    background-color: grey;
    color: #fff;
}
    .gk-textbox::placeholder {
        color: white;
        font-style: italic;
        opacity: 1; /* Ensures consistent opacity across browsers */
    }
    .gk-textbox:focus {
        outline: none;
        /*border-color: #000;
        box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.1);*/
    }
