@inherits LayoutComponentBase
<div>
    <main>

		<div class="top-row">
			<div class="left"><h1>Midi Go:Keys</h1></div>
			<div class="right">
				<a href="https://github.com/tossnet/Blazor-Midi-GoKeys" target="_blank">
					<img src="/github-mark-white.svg" alt="GitHub" class="github-mark" />
				</a>
			</div>
		</div>

		Work in progress...

        <article>
            @Body
        </article>
    </main>
</div>
