@inherits LayoutComponentBase

<div>
	<main>
		<div class="header">
			<div class="box box-1">
				<h1>Midi Go:Keys</h1>
			</div>

			<div class="box box-2">
				<div class="align-v-center">
					<p>Work in progress...</p>
				</div>
			</div>

			<div class="box box-3">
				<div class="align-right-center">
					<a href="https://github.com/tossnet/Blazor-Midi-GoKeys" target="_blank">
						<img src="github-mark-white.svg" alt="GitHub" class="github-mark" />
					</a>
				</div>
			</div>
		</div>

		@Body
	</main>
</div>
